<h2 id="titulo-uno">ESCUELA DE TAEKWONDO 로동 | 노동</h2>
<br>
<div id="texto-list">
<p>La escuela de Taekwondo 로동 | 노동 ofrece a los alumnos del Instituto Tecnologico de Campeche el aprender
	de forma eficiente y con excelentes ajustes de horarios, la disciplina de artes marciales "TAEKWONDO" en su
	categoria Sub-23. Cabe mencionar que se cuentan con los mejores instructores del estado de Campeche, entre los que
	destacan:</p>
	<div id="lista-maestros">
		<li>Josué Poot Peña: <strong> Cinta negra</strong> 3er Grado</li>
		<li>Chin Wang Song: <strong>Cinta negra</strong> 5to Grado</li>
		<li>Jose Aldo Junior: <strong>Cinta negra</strong> 5to Grado</li>
	</div>

<p>Dentro de las artes marciales, el Taekwondo se destaca por la variedad y espectacularidad de sus técnicas de patadas, y actualmente, 
	es uno de los deportes de combate más conocidos, y el más popular del planeta.
	El taekwondo se caracteriza por su amplio uso de las técnicas de pierna y patadas, que son mucho más variadas y tienen mayor 
	protagonismo que en la mayoría de las artes marciales, y deportes de combate. Asimismo, la depurada técnica de las
	 mismas las hace destacar por su gran rapidez y precisión.</p>

<p>Asi mismo cabe destacar que en la escuela de Taekwondo 로동 | 노동 mantiene convenios con las organizaciones internacionales
	del Taekwondo profesional, por lo que nos mantenemos en constantes participaciones en eventos de lucha y por
	 consiguiente mantenemos a nuestros estudiantes en constante desarrollo a nivel profesional. NO ESPERES MAS Y UNETE A NUESTRA
	  GRAN FAMILIA DE PELEADORES 로동 | 노동</p>	 
</div>
<div id="imagen-list">
<img src="https://atletasdemexico.files.wordpress.com/2016/07/tkd3.png?w=293&h=384" />
<img src="http://www.somalitaekwondo.com/img/sponsor/wtf.png"/>
</div>
<h1>{{ titulo }}</h1>
<div id="alumnos-list">
	<img src="../../assets/imagenes/loader.gif" *ngIf="loading == 'show'" />
	<div class="table-responsive"> 
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Número de Control</td>
					<td>Semestre</td>
					<td>Grupo</td>
					<td>Categoría</td>
					<td>Nombres</td>
					<td>Apellido Paterno</td>
					<td>Apellido Materno</td>
					<td>Correo Electrónico</td>
					<td>Teléfono</td>
					<td>Sexo</td>
					<td width=190 align="center">Acciones</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let alumno of alumnos">
					<td>{{ alumno.numero_control }}</td>
					<td>{{ alumno.semestre }}</td>
					<td>{{ alumno.grupo }}</td>
					<td>{{ alumno.categoria }}</td>
					<td>{{ alumno.nombres }}</td>
					<td>{{ alumno.apellido_paterno }}</td>
					<td>{{ alumno.apellido_materno }}</td>
					<td>{{ alumno.correo_electronico }}</td>
					<td>{{ alumno.telefono }}</td>
					<td>{{ alumno.sexo }}</td>
					<td width=190> 
						<a [routerLink]="['/editar-alumno', alumno.id]" href="" class="btn btn-success">Modificar</a>
						<a (click)="onBorrarConfirm(alumno.id)" class="btn btn-danger">Eliminar</a>
						<div class="seguro" *ngIf="confirmado === alumno.id">
							<a (click)="onBorrarAlumno(alumno.id)" class="btn btn-eliminar">Eliminar</a>
							<a (click)="onCancelarConfirm(alumno.id)" class="btn btn-info">Cancelar</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>